// Write your custom css/scss here

.check-c {
        background: #4caf50 !important;
        border-color: #4caf50 !important;
        padding: 0.3rem 0.6rem 0.3rem !important;
    svg {
        width: 25px !important;
        height: 22px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

