// Write your custom css/scss here

.check-c {
        background: #4caf50 !important;
        border-color: #4caf50 !important;
        padding: 0.3rem 0.6rem 0.3rem !important;
    svg {
        width: 25px !important;
        height: 22px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
.title-table {
    padding-bottom: 25px;
}
.datepicker.input-group {
    border: 1px solid #d8d8d8 !important;
}
.dashboard-date.datepicker.input-group span {
    border-right: 1px solid #d8d8d8 !important;
}
button.btn.btn-secondary {
    border: 1px solid #0083f5 !important;
    background: #fff !important;
    color: #0083f5 !important;
}
.row-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}