.auth-page {
  .auth-left-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom;
  }
  img.logo-ss {
    max-width: 250px;
    margin-bottom: 20px;
    width: 100%;
  }
}
.maxw{
  max-width: 370px;
  margin: auto;
}
.bck-img{
  background: url("/assets/images/bck-sendstation.jpg") !important; 
  background-size: cover;
  background-position: center;
}